@import url('https://fonts.googleapis.com/css?family=Merienda+One');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
    background-color:#0C0A3E;
    font-family: 'Merienda One', cursive;
}
.container{
    width: 450px;
    margin: auto;
    background-color:#F5F7F3; 
    border: 1px solid black;
    text-align: center;
    overflow: auto;
    padding: 20px;
    margin-top: 200px;
    border-radius: 7px 90px 20px 30px;
    font-size: 1.5em;
}

button{
    color: #F5F7F3;
	
   margin-top: 20px;  
	opacity:1;
	border-radius:3px;
    cursor:pointer;
    border-width: 0px;
    font-size: 0.85em;
    padding: 0.3em;
    height: 40px;
    background-color: #0C0A3E;
    border-radius: 7px 90px 20px 30px;
}

.output{
    color: #0C0A3E;
    font-family: 'Merienda One', cursive;
}
.text{
    padding: 20px;
    display: flex;
    
}
i {
    margin-right: 0.3em;
}
.author{
    text-align: right;
	padding-right: 10px;
}

